section {
    height:100vh;
    text-align: center;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

a {
    color:black;
}


#page1title {
    font-size: 7vh;
    height:50%;
}

.alignindiv {
    padding: 5vh 5vw;
}

.links {
    padding: 5vh 5vw;
}

#profiles {
    height:30%;
    font-size: 5vh;
    color:black;  
}

#page1down {
    height:10%;
    font-size: 5vh;
}

/* tablets */

@media screen and (max-height: 1400px) and (min-height: 1020px)and (min-width: 750px) and (max-width: 1030px) {

    #page1title{
        font-size: 4vh;
    }

    #profiles{
        font-size: 3vh;
    }

    #page1down {
        font-size: 4vh;
    }

}

/*phones*/

@media screen and (max-height: 820px) and (min-height: 630px)and (min-width: 350px) and (max-width: 420px) {

    

    #profiles{
        font-size: 3vh;
    }

    #page1down {
        font-size: 4vh;
    }

}

/* reg screen break */

@media screen and (max-width: 750px) and (min-height: 460px ) {

    #page1title{
        font-size: 4vh;
    }
}

/*


#arrowdown {
   
}

#photome {
    height: 70%;
}

.photo {
    height: 100%;
}


.img-responsive {
    margin: 0 auto;
}

#aboutme {
    height: 65%;
    font-size: 2vw;
}

#projects {
    height:60%;
    overflow: auto;
}

.projects {
    height: 100%;
    display: inline-block;
}

.project-title {
    font-size: 2.5vw;
}

.project-description, .project-technology-list {
    font-size: 1.5vw;
}

.title {
    font-size: 3vw;
    padding: 5% 5%;
}



.alignindivlinks {
    max-height: inherit;
    height: 100%;
    padding: 3% 3%;
    color: black;
}

.links {
    color: black;
    padding-top: 20%
}

.aboutmearrow {
    padding-bottom: 5%
}

@media screen and (min-width: 1100px) {

  #title {
        font-size: 3.5vh;
    }

    #profiles {
        font-size: 2vw;
    }
    #arrowdown {
        font-size: 2vw;
    }

     #aboutme {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 767px) {
    #photome {
        height: 250px;
    }
    .photo {
        height: 65%;
    }
     #title {
        font-size: 3vh;
    }

    #profiles {
        height:20%;
        font-size: 6vw;
        
    }

    .project-title {
        font-size: 3.5vw;
    }

    .project-description, .project-technology-list {
        font-size: 2.5vw;
    }

    .title {
        font-size: 5vw;
        padding: 5% 5%;
    }

    #arrowdown {
        height:10%;
        font-size: 6vw;

    }
    #aboutme {
        height: 75%;
        font-size: 3vw;
    }

    #photome {
        height: 100%;
    }
}

@media screen and (max-height: 500px) {
    #github, #linkedin {
        visibility: hidden;
    }
}

@media screen and (min-height: 500px) {
    #title {
        font-size: 5vh;
    }

    #arrowdown {
        font-size: 4.5vh;
    }
}



@media screen and (max-height: 330px) and (min-width: 460px) {

    #profiles {
        height: 0%;
    }

    #arrowdown {
        visibility: hidden;
    }
}


