

/*
 *
 * Header
 *
 */
header, nav { 
	box-sizing: border-box;
	width:100%;
	border-bottom-style: solid;
	border-bottom-width: : 10px;
}

a {
	color:black;
}

/*
*Adjust this media for the iPhone
*/
/*@media screen and (max-width: 870px) {
	.left_side_head {
		padding-top: 2.5%;
	}
	.name {
		font-size:250%;
	}
}*/


.name {
	font-size:400%;
}

.row {
	vertical-align: middle;
}

.front {
	background-image:url("me.jpg");
	height:100vh;
	background-repeat:no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1170px) {
	.front{
		background-image:url("small_me.jpeg");
	}
	
}

.head_banner {
	text-align: center;
	padding-right:10%; 
	
}



/*
 *
 * Common
 * 
 */

/*
 *
 * Top Level Navigation
 *
 */





 /*
 *
 * Main
 *
 */

 /*
 *
 * Content
 *
 */
 main {
 	background-color:yellow;
 }
 /*
 *
 * About Me
 *
 */

 .photome {
 	padding-top: 5%;
 	max-height: 40%;
 	max-width: 40%;
 	border-image: solid 10px;
 	text-align:left;
 }

 .aboutme {
 	border-bottom-style: solid;
	border-bottom-width: : 10px;
	border-bottom-color: black;
 }
 /*
 *
 * Projects
 *
 */

 /*
 *
 * Contact
 *
 */
